/*=============================================*/
/*                    Colors                   */
/*=============================================*/
/*
9B1D20
07090F
FC9E4F
94A89A
797D81
*/


/*=============================================*/
/*                  Variables                  */
/*=============================================*/

:root
{
    /*COLORS*/
    --color-main: #9B1D20;
    --color-main-highlight: #A81F26;
    --color-white: white;
    --color-border1: #DDD;
}


/*=============================================*/
/*                   Global                    */
/*=============================================*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
body
{
    background-color: var(--color-white);
    margin: auto;
    display: flex;
    flex-direction: column;
}
#turn
{
    display: none;
    z-index: 0;
}


/*=============================================*/
/*                   Header                    */
/*=============================================*/
header
{
    background-color: var(--color-main);
    width: 100%;
    height: 10vh;
    border-bottom: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.title-container > a
{
    text-decoration: none;
}
.title-container > a > h1
{
    font-size: 40px;
    margin-left: 2vw;
    color: var(--color-white);
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
header > nav
{
    margin-right: 1.3vw;
    height: 100%;
}
header > nav > ul
{
    display: flex;
    list-style: none;
    height: 100%;
}
header > nav > ul > li
{
    position: relative;
}
header > nav > ul > li > a
{
    padding: 0 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 0;
    position: relative;
    cursor: pointer;
    color: var(--color-white);
}
header > nav > ul > li > a:hover
{
    background-color: var(--color-main-highlight);
    border-bottom-style: solid;
    border-bottom-width: 4px;
}


/*=============================================*/
/*                    Main                     */
/*=============================================*/
.main-content
{
    display: flex;
    background-color: var(--color-white);
}
.aside-content
{
    width: 448px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-white);
}
.asideHandle
{
    display: none;
}
.form-container
{
    padding: 40px;
}
.destin-container
{
    border-bottom: 1px solid var(--color-border1);
}
label
{
    margin-left: 15px;
    font-weight: bold;
    font-size: 17px;
}
.inputs
{
    outline: none; 
    width: 100%;
    padding-left: 40px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 7px;
    border: 1px solid var(--color-border1);
    border-radius: 25px;
    margin-bottom: 20px;
    margin-top: 5px;
    font-size: 15px;
}
#inputOrigin
{
    background: url(media/img/icon/markerRed.png);
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-size: 36px 36px;
}
#inputDestin
{
    background: url(media/img/icon/markerGreen.png);
    background-repeat: no-repeat;
    background-position: 0% 50%;
    background-size: 36px 36px;
}
.subForm
{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.weather-container
{
    padding: 40px;
    line-height: 1.5em;
}
.weather-container > h2
{
    padding-top: 15px;
    border-top: 1px solid var(--color-border1);
}


/*=============================================*/
/*                   Media                     */
/*=============================================*/
.media-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--color-border1)
}
.media-main {
    background-color: var(--color-white);
    max-width: 1920px;
    margin-top: 10vh;
    padding: 40px;
}
.media-section {
    padding: 16px;
    border-top: 2px solid var(--color-border1);
}
.media-section > h2 {
    margin: 8px 0;
}
.media-section > div {
    display: flex;
}
.media-section > div > video {
    margin: 16px 16px;
    position: relative;
}
.media-section > div > div {
    margin: 16px 16px;
    position: relative;
}
.media-section > div > div > h3{
    margin-bottom: 10px;
}
.media-section > div > div p {
    margin: 8px 0;
    position: relative;
}
.media-aside {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10vh;
}

@media only screen and (max-width: 1520px) {
    .media-body {
        flex-direction: column;
    }
    .media-aside {
        margin: 0;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
    }
}
@media only screen and (max-width: 1180px) {
    img {
        width: 100%;
        height: auto;
    }
    .media-section > div {
        flex-direction: column;
    }
    .media-section > div > video {
        width: 100%;
        height: auto;
        margin: 0;
    }
    .media-section > div > figure {
        padding: 0 1.5vw;
        margin: 0;
    }
}


/*=============================================*/
/*                   About                     */
/*=============================================*/
.about-body {
    background-color: var(--color-white);
}
.fixed-header
{
    top: 0;
    position: fixed;
    z-index: 2;
}
.page-title {
    margin-left: 16px;
    margin-bottom: 8px;
    font-size: 32px;
}
figure {
    margin: 16px 16px;
    position: relative;
}
.about-main {
    margin-top: 10vh;
    padding: 40px;
    flex-direction: column;
    background-color: var(--color-white);
}
.about-figures {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-top: 2px solid var(--color-border1);
    border-bottom: 2px solid var(--color-border1);
}

@media only screen and (max-width: 624px) {
    .about-figures {
        justify-content: center;
    }
}


/*=============================================*/
/*                     Map                     */
/*=============================================*/
.map-content
{
    height: 90vh;
    flex-grow: 1;
}
#map
{
    width: 100%;
    height: 100%;
}
.popupInput
{
    margin-left: 5px;
    margin-top: 5px;
    padding: 1px 3px 1px 3px;
    border: none;
    border: 1px solid black; 
    border-radius: 25px;
    cursor: pointer;
}
.originBtn
{
    background: #e24470;
    color: var(--color-white);
}
.destinBtn
{
    background: #118600;
    color: var(--color-white);
}
img.markerRed
{
    filter: hue-rotate(120deg); 
}
img.markerGreen
{
    filter: hue-rotate(240deg); 
}
#toggleTrack
{
    background: url(media/img/icon/disTrack.png) no-repeat center;
    background-size: contain;
    margin: 0;
}
#toggleTrack.true
{
    background: url(media/img/icon/enaTrack.png) no-repeat center;
    background-size: contain;
}
#toggleBikes.true
{
    background: url(media/img/icon/enaBikestations.png) no-repeat center;
    background-size: contain;
}
#toggleBikes
{
    background: url(media/img/icon/disBikestations.png) no-repeat center;
    background-size: contain;
    margin: 0;
}
#refreshBikes
{
    background: url(media/img/icon/refresh.png) no-repeat center;
    background-size: contain;
    margin: 0;
}
#refreshBikes:hover
{
    background: url(media/img/icon/refreshHover.png) no-repeat center;
    background-size: contain;
}
.leaflet-control
{
    background-color: var(--color-white);
}
.leaflet-control:hover
{
    background-color: #F5F4F4;
}


/*=============================================*/
/*               Narrow screen                 */
/*=============================================*/
@media only screen and (max-width: 1020px) {
    body
    {
        background-color: var(--color-main);
    }
    header
    {
        position: fixed;
        z-index: 3;
    }
    .title-container > a > h1
    {
        font-size: 5vh;
    }
    header > nav > ul > li > a
    {
        padding: 0 1vh;
        font-size: 0;
    }
    #linkHome > h3
    {
        background: url(media/img/icon/home.png) no-repeat center; 
        background-size: contain;
        height: 4vh;
        width: 4vh;
    }
    #linkVideo > h3
    {
        background: url(media/img/icon/media.png) no-repeat center; 
        background-size: contain;
        height: 4vh;
        width: 4vh;
    }
    #linkAbout > h3
    {
        background: url(media/img/icon/about.png) no-repeat center; 
        background-size: contain;
        height: 4vh;
        width: 4vh;
    }
    .main-content
    {
        margin-top: 10vh;
    }
    .aside-content
    {
        position: absolute;
        width: 100%;
        height: auto;
        margin-top: 70vh;
        z-index: 2;
        border-radius: 25px 25px 0 0;
        border: 1px solid var(--color-border1);
    }
    .asideHandle
    {
        margin: auto;
        position: relative;
        display: block;
        top: 2.5vh;
        width: 25vw;
        height: 6px;
        border-radius: 6px;
        background-color: var(--color-border1);
    }
    .map-content
    {
        position: fixed;
        flex-grow: 0;
        height: 73vh;
        z-index: 1;
    }
    #map
    {
        width: 100vw;
        position: absolute;
    }
    .leaflet-bottom
    {
        margin-bottom: 3vh;
    }
}


/*=============================================*/
/*                Touch screen                 */
/*=============================================*/
@media (pointer: none), (pointer: coarse) {
    #toggleTrack
    {
        width: 7vh;
        height: 7vh;
    }
    #toggleBikes
    {
        width: 7vh;
        height: 7vh;
    }
    #refreshBikes
    {
        width: 7vh;
        height: 7vh;
    }
    #inputOrigin
    {
        background-size: 34px 34px;
    }
    #inputDestin
    {
        background-size: 34px 34px;
    }
}

@media only screen and (pointer: none), (pointer: coarse) and (orientation: landscape) {
    #turn
    {
        position: fixed;
        z-index: 4;
        display:flex;
        background-color: var(--color-main);
        color: var(--color-white);
        width: 100vw;
        height: 100vh;
        align-items: center;
        justify-content: center;
    }
}