
:root
{
    /*COLORS*/
    --color-main: #9B1D20;
    --color-main-highlight: #A81F26;
    --color-white: white;
    --color-border1: #DDD;
}
*
{
    font-family: 'Rubik', sans-serif;
}
body{
    background-color: var(--color-main);
}
.title
{
    display: block;
    width: 70vw;
    height: 75vh;
    color: var(--color-white);
    font-size: 8vw;
	text-shadow: 0 2px 2px black;
    text-align: center;
}
.group-title
{
    padding-top: 10vh;
    font-size: 10vh;
    margin: 3vh;
}
.dev-names
{
    font-size: 6vh;
    margin-top: 20vh;
}
.box {
    display: block;
    width: 80vw;
    height: 80vh;
    padding: 30px 50px;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .7);
    border: 1px solid var(--color-border1);
    border-radius: 25px;
	text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
    font-size: 40px;
}
.api-esimerkit {
    font-size:60%;
    line-height: 1.4em;
}
.api-esimerkit2 {
    font-size: 60%;
    line-height: 1.2em;
}

.codeDisplay
{
    align-self: center;
    text-align: center;
    width: 100%;
    height: 85%;
    margin: 0;
    background-color: #1E1E1E;
    border-radius: 25px;
}
.codeDisplay > img
{
    align-self: center;
    width: 95%;
    max-height: 95%;
    margin: 1vh 0;
}
.imageSub
{
    text-align: center;
    color: black;
    padding-bottom: 1vh;
    margin: 0;
}
p 
{
    padding: 3vh 0 0 0;
}
.link
{
    font-weight: bold;
    font-size: 15vh;
    color: var(--color-white);
}
.end
{
    padding-top: 50vh;
}